.textArea {
  width: 50%;
}

.textArea textarea {
  width: calc(100% - 2rem);
  height: 150px;
  margin: 1rem;
  outline: none;
  padding: 1rem;
  font-size: 1.15rem;
  border-radius: 5px;
  background: var(--white);
}

.rightBorder {
  border: 3px solid var(--green);
}

.wrongBorder {
  border: 3px solid var(--red);
}

@media(max-width: 500px) {
  .textArea {
    width: 100%;
  }
}